.button {
  display: block;
  min-height: 40px;
  border: none;
  padding: 10px;
  background-color: $color-btn;
  text-align: center;

  @include text(16px, 20px);
  font-family: $main-font;
  color: $color-text-white;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $btn-hvr;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}

.button--grey {
  background-color: $btn-grey;
  color: $color-overview;

  &:hover,
  &:focus {
    background-color: $btn-grey-hvr;
  }

  &:active {
    color: rgba($color-overview, 0.3);
  }
}

.button--small {
  @include text(14px, 18px);
}

@media (min-width: $tablet-width) {
  .button--small {
    width: 245px;
    min-height: 52px;
    padding: 15px 28px 15px 25px;

    @include text(20px, 20px);
  }

  .button--form {
    @include text(20px, 20px);
  }
}
