.button {
  display: block;
  min-height: 40px;
  border: none;
  padding: 11px;
  background-color: $color-btn;
  text-align: center;

  @include text(16px, 20px);
  font-family: $main-font;
  color: $color-text-white;
  text-transform: uppercase;
}

.button--grey {
  background-color: $btn-grey;
  color: $color-overview;
}

.button--small {
  @include text(14px, 18px);
}
