.catalog__list {
  border-top: 1px solid #ededed;

  @include list;
}

.catalog__more {
  padding: 25px 20px;
  text-align: center;
  border-bottom: 1px solid #ededed;
  background-color: transparent;
}

.catalog__text-more {
  @include text(16px, 20px);
  text-transform: uppercase;
}

.catalog__subtitle-more {
  @include text(12px, 16px);
  font-family: $overview-font;
  color: $color-overview;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
  }
}
