.collaboration {
  width: 100%;
}

.collaboration__text {
  display: flex;
  justify-content: space-between;
  // width: 280px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.collaboration__title {
  margin: 0;
  width: 46%;

  @include text(16px, 20px);
  text-transform: uppercase;
  font-weight: 400;
}

.collaboration__contacts {
  margin: 0;
  width: 50%;
  font-family: $overview-font;
  color: $color-overview;

  @include text(14px, 20px);
}

.collaboration--grey {
  background-color: $color-bg-block;
}


@media (min-width: $tablet-width) {
  .collaboration__text {
    width: 100%;
    padding: 65px 42px 55px;
  }

  .collaboration__title {
    @include text(20px, 25px);
  }

  .collaboration__contacts {
    text-align: right;

    @include text(16px, 20px);
  }

  .collaboration__contacts span {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .collaboration__container {
    position: relative;
  }

  .collaboration__text {
    position: absolute;
    top: 95px;
    left: 40px;
    width: 570px;
    padding: 68px 85px 55px 75px;
    background-color: #ffffff;
    z-index: 2;
  }

  .collaboration__contacts {
    text-align: left;
  }
}
