.collaboration {
  width: 100%;
}

.collaboration__title {
  @include text(16px, 20px);
  text-transform: uppercase;
  font-weight: 400;
}

.collaboration__contacts {
  font-family: $overview-font;
  color: $color-overview;

  @include text(14px, 20px);
}

.collaboration--grey {
  background-color: $color-bg-block;
}

.collaboration__text {
  display: flex;
  justify-content: space-between;
  min-height: 114px;
}

@media (min-width: $tablet-width) {
  .collaboration__text {
    min-height: 204px;
  }
}

@media (min-width: $desktop-width) {
  .collaboration__container {
    position: relative;
  }

  .collaboration__text {
    position: absolute;
    top: 95px;
    left: 40px;
    width: 570px;
    min-height: 201px;
    background-color: #ffffff;
  }
}
