.features {
  margin-bottom: 45px;
}

.features__title {
  margin: 0;

  @include text(36px, 60px);
  font-weight: 400;
}

.features__list {
  margin-top: 30px;

  @include list;
}

.features__item {
  position: relative;
  margin-top: 26px;
  padding-left: 80px;
  font-family: $overview-font;

  @include text(14px, 18px);
  color: $color-overview;

  &:first-child {
    margin-top: 0;
  }

  &::before {
    @include pseudo;
    top: -3px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $color-btn;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--useful::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--cooking::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--intake::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--result::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 60px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  .features__item {
    margin-top: 95px;
    margin-right: 140px;
    width: 245px;
    padding: 110px 0 43px;

    @include text(16px, 24px);

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      @include pseudo;
      top: -40px;
      right: 0;
      font-family: $main-font;
      color: $color-bg-block;
      font-size: 281px;
      line-height: 281px;
      z-index: -1;
    }

    &--useful::after {
      content: "1";
      right: 15px;
    }

    &--cooking::after {
      content: "2";
    }

    &--intake::after {
      content: "3";
    }

    &--result::after {
      content: "4";
    }
  }

  .features__title {
    @include text(60px, 60px);
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    padding-top: 115px;
  }

  .features__item,
  .features__item:nth-child(1),
  .features__item:nth-child(2) {
    margin-top: 0;
    margin-right: 80px;
  }

  .features {
    margin-bottom: 40px;
  }
}
