@import "../variables.scss";
@import "../mixins.scss";

.hero-header {
  position: relative;
}

.hero-header__wrapper {
  margin-bottom: 135px;
  padding: 29px 20px;
  min-height: 305px;
  background-color: #B6F2D0;
  background-image: url(../../img/index-background-mobile@1x.jpg);
}

.hero-header__slogan {
  text-align: center;
  @include text(14px, 14px);
  text-transform: uppercase;
  color: $color-text-white;
}

.hero-header__image {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-header__program {
  margin: 0 auto;
  width: 280px;
}
