.hero-header {
  margin-bottom: 22px;
}

.hero-header__wrapper {
  position: relative;
  margin-bottom: 135px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 150px;
  background: #63a73a url("../img/index-background-mobile@1x.jpg") no-repeat  50% 0;
  min-height: 305px;

  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.hero-header__slogan {
  margin-top: 25px;
  text-align: center;

  @include text(14px, 14px);
  text-transform: uppercase;
  color: $color-text-white;
}

.hero-header__image {
  position: absolute;
  bottom: -132px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-header__program {
  margin: 0 auto;
  width: 100%;
}

.hero-header__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: $color-text-white;
}

@media (min-width: $tablet-width) {
  .hero-header {
    margin-bottom: 530px;
  }

  .hero-header__wrapper {
    background: none;
    min-height: 220px;
    margin-bottom: 35px;
    padding-bottom: 0;
  }

  .hero-header__wrapper-text {
    margin-left: 87px;
  }

  .hero-header__slogan {
    margin-top: 40px;
    color: $color-text;
    text-align: left;

    @include text(20px, 20px);
  }

  .hero-header__program {
    position: relative;
    margin-left: 90px;
    width: 245px;
    z-index: 1;
  }

  .hero-header__title {
    width: 430px;
    color: $color-text;
    text-align: left;
  }

  .hero-header__image {
    width: 709px;
    bottom: -618px;
  }
}

@media (min-width: $desktop-width) {
  .hero-header {
    min-height: 290px;
    margin-bottom: 0;
  }

  .hero-header__wrapper {
    display: flex;
  }

  .hero-header__wrapper-text {
    margin-left: 80px;
  }

  .hero-header__program {
    margin-left: 80px;
  }

  .hero-header__image {
    top: -50px;
    margin-left: 115px;
    width: 552px;
    z-index: 1;
  }
}
