.hero-header__wrapper {
  position: relative;
  margin-bottom: 135px;
  width: 100%;
  padding-top: 30px;
  background: #63a73a url("../img/index-background-mobile@1x.jpg") no-repeat  50% 0;
  min-height: 305px;
}

.hero-header__slogan {
  margin-top: 30px;
  text-align: center;

  @include text(14px, 14px);
  text-transform: uppercase;
  color: $color-text-white;
}

.hero-header__image {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-header__program {
  margin: 0 auto;
  width: 280px;
}

.hero-header__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: $color-text-white;
}

@media (min-width: $tablet-width) {
  .hero-header {
    margin-bottom: 530px;
  }

  .hero-header__wrapper {
    background: none;
    min-height: 220px;
    margin-bottom: 10px;
  }

  .hero-header__slogan {
    color: $color-text;
    text-align: left;

    @include text(20px, 20px);
  }

  .hero-header__program {
    position: relative;
    margin-left: 0;
    z-index: 1;
  }

  .hero-header__title {
    width: 430px;
    color: $color-text;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .hero-header {
    min-height: 290px;
    margin-bottom: 0;
  }

  .hero-header__wrapper {
    display: flex;
  }

  .hero-header__wrapper-text {
    position: relative;
    top: 0;
  }

  .hero-header__image {
    z-index: 1;
  }
}
