@media (min-width: $tablet-width) {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    width: 770px;
    padding-top: 24px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--main {
    height: 696px;
    margin-bottom: 80px;
    background:
      url("../img/index-background-desktop@1x.jpg") no-repeat calc(50% + 360px) 0,
      linear-gradient(to right, white 50%, #64a83b 50%);
  }

  .page-header__container {
    width: 1300px;
    padding-top: 55px;
    min-height: 65px;
  }
}
