@media (min-width: $tablet-width) {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    padding-top: 24px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    position: relative;
    // margin-bottom: 95px;
    padding-top: 55px;
    min-height: 65px;
  }

  .page-header__bg-img {
    position: absolute;
    top: 0;
    right: -70px;
    width: 720px;
    height: 695px;
    background-color: $color-btn;
    background-image: url("../img/index-background-desktop@1x.jpg");
  }
}
