.page-main__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: $color-text-white;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 430px;
    color: $color-text;
    text-align: left;
  }
}
