.page-header__logo {
  display: block;
  height: 66px;

  border-bottom: 1px solid $color-input;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 231px;
  padding: 11px 20px 16px;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    margin: 0 auto;
    width: $tablet-width;
    padding: 20px 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 60px;
  }

  .page-header__logo {
    position: relative;
    border-bottom: none;
  }

  .page-header__logo-image {
    width: 173px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header--main {
    margin-bottom: 80px;
    height: 696px;
    background:
      url("../img/index-background-desktop@1x.jpg") no-repeat left calc(50% + 360px) top,
      linear-gradient(to right, white 50%, #64a83b 50%);

    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background:
        url("../img/index-background-desktop@2x.jpg") no-repeat calc(50% + 360px),
        linear-gradient(to right, white 50%, #64a83b 50%);
      background-size: 720px auto, 100% 696px;
    }
  }

  .page-header__container {
    margin-bottom: 20px;
    padding: 50px 40px 55px;
    width: $desktop-width;
  }

  .page-header__logo {
    margin: 0;
  }

  .page-header__logo-image {
    width: 202px;
  }
}
