.page-footer {
  background-color: $color-bg-block;
}

.page-footer__logo,
.page-footer__social {
  border-bottom: 1px solid $color-border;
}

.page-footer__logo {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 25px;
}

.page-footer__logo-link {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 100%;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .page-footer__logo,
  .page-footer__social {
    border-bottom: none;
    padding: 0;
  }
}
