.program {
  margin-bottom: 20px;
  width: 280px;
  min-height: 266px;
  padding: 36px 20px 20px;
  background-color: $color-bg-block;
}

.program__title {
  margin: 0;
  padding-left: 72px;

  @include text(24px, 37px);
  text-transform: uppercase;
  font-weight: 400;
}

.program__overview {
  @include text(14px, 18px);
  font-family: $overview-font;
  color: $color-overview;
}

.program__link {
  @include text(16px, 16px);
  text-transform: uppercase;
  color: $color-text;
}

@media (min-width: $tablet-width) {
  .program {
    width: 710px;
    min-height: 372px;
    margin-bottom: 35px;
    padding: 65px 50px 50px;
  }

  .program__title {
    margin: 0;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;
  }
}
