.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    padding: 0 30px;

    &--fieldset {
      padding: 0 67px 0 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding: 0 40px;

    &--about,
    &--program {
      width: 570px;
      padding: 0;
    }

    &--about {
      margin-right: 76px;
    }
  }
}
