$main-font: 'Oswald', Arial, sans-serif;
$overview-font: Arial, sans-serif;

$color-bg-block: #f2f2f2;
$color-text: #111111;
$color-text-white: #ffffff;
$color-overview: #444444;
$color-btn: #68b738;
$btn-grey: #f2f2f2;
$color-border: #d9d9d9;
