$main-font: "Oswald", "Arial", sans-serif;
$overview-font: "Arial", sans-serif;

$color-bg-block: #f2f2f2;
$bg-block-darker: #eaeaea;
$color-text: #111111;
$color-text-white: #ffffff;
$color-overview: #444444;
$color-btn: #68b738;
$btn-hvr: #5eaa2f;
$btn-grey: #f2f2f2;
$btn-grey-hvr:#ebebeb;
$color-border: #d9d9d9;
$color-plus: #d3d3d3;
$color-label: #222222;
$color-ph: #444444;
$color-input: #e6e6e6;
$color-scale: #cdcdcd;
$color-scale2: #dcdcdc;
$radio: #cecece;
$radio-hvr: #bbbbbb;
$error: #ff8282;

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
